Repository Cropster/ember-l10n-crowdin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier --parser json --write

Run prettier
  addon/.gitkeep
  app/.gitkeep
  config/.gitkeep
  config/ember-try.js
  config/environment.js
  testem.js
  vendor/.gitkeep
Due: prettier --write

Implement initial implementation for crowdin:pull & crowdin:push
  .eslintrc.js
  .gitignore
  .npmignore
  .template-lintrc.js
  .travis.yml
  README.md
  blueprints/ember-l10n-crowdin/files/__root__/config/crowdin.js
  blueprints/ember-l10n-crowdin/index.js
  config/release.js
  ember-cli-build.js
  index.js
  lib/commands/-abstract.js
  lib/commands/pull.js
  lib/commands/push.js
  lib/utils/crowdin-api.js
  lib/utils/pull.js
  lib/utils/push.js
  node-tests/fixtures/all-basic.zip
  node-tests/fixtures/example-po-files/de.po
  node-tests/fixtures/example-po-files/es_ES.po
  node-tests/index.js
  node-tests/unit/utils/crowdin-api-test.js
  node-tests/unit/utils/pull-test.js
  package.json
  testem.js
  translations/.gitkeep
  yarn.lock
Due: prettier --write, prettier --parser json --write

Add badges to README
  README.md
Due: none

Released v0.1.0
  package.json
Due: prettier --parser json --write

Update .npmignore
  .npmignore
Due: none

Released v0.1.1
  package.json
Due: prettier --parser json --write

Released v0.1.2
  package.json
Due: prettier --parser json --write

Path conditions:
  prettier --write: any of: **/*.js
  prettier --parser json --write: any of: **/*.json
